.main {
  width: 100vw;
  height: 100vh;
  background-color: #6c6f75;
  background-color: #dedfe4;
  position: relative;
}
.portal {
  position: absolute;

  height: 100vh;
  top: 0;
  right: 0;
  background-color: grey;
}
